<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>GAFF</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <style>
            .genre-div {
                display: table;
                width: 100%;
            }
            .genre-category {
                display: table-cell;
                width: max-content;
                padding: 4px;
            }
            .genre-button {
                width: 100%;
            }
        </style>
    </head>
    <body style="display:grid; grid-template-rows: auto 1fr auto; min-height:100vh;">
        <div th:insert="Fragments :: header">...</div>
        <div id="body-div">
            <h1 style="text-align:center;">List</h1>
            <div class="genre-div">
                <div class="genre-category">
                    <button id="action" class="mdl-button mdl-js-button mdl-button--raised">
                        Action
                    </button>
                </div>
                <div class="genre-category">
                    <button id="adventure" class="mdl-button mdl-js-button mdl-button--raised">
                        Adventure
                    </button>
                </div>
                <div class="genre-category">
                    <button id="simulation" class="mdl-button mdl-js-button mdl-button--raised">
                        Simulation
                    </button>
                </div>
                <div class="genre-category">
                    <button id="puzzle" class="mdl-button mdl-js-button mdl-button--raised">
                        Puzzle
                    </button>
                </div>
                <div class="genre-category">
                    <button id="racing" class="mdl-button mdl-js-button mdl-button--raised">
                        Racing
                    </button>
                </div>
                <div class="genre-category">
                    <button id="sports" class="mdl-button mdl-js-button mdl-button--raised">
                        Sports
                    </button>   
                </div>
            </div>
            <script type="text/javascript">            
                document.getElementById("action").onclick = function () {
                location.href = "/genre/action";
                };
                document.getElementById("adventure").onclick = function () {
                location.href = "/genre/adventure";
                };
                document.getElementById("simulation").onclick = function () {
                location.href = "/genre/simulation";
                };
                document.getElementById("puzzle").onclick = function () {
                location.href = "/genre/puzzle";
                };
                document.getElementById("racing").onclick = function () {
                location.href = "/genre/racing";
                };
                document.getElementById("sports").onclick = function () {
                location.href = "/genre/sports";
                };
            </script>

            <div>
                <div class="demo-card-square mdl-card mdl-shadow--2dp" th:each="game : ${gameList}" style="display:inline-block">

                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text" th:text="${game.name}">Title</h2>

                    </div>
                    <div class="mdl-card__supporting-text" th:text="${game.description}">
                        Description
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a onclick="location.href = '/game_details';" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            View Game Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="Fragments :: footer">...</div>
    </body>


</html>
