<!DOCTYPE html>
<!--
Individual game page
Last updated 11/10/2022
Author(s): Alec Droegemeier
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>GAFF</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script>
            function change(){
            const btn = document.getElementById("joinGame");            
            if(btn.value === "Join Game"){
            btn.value = "Leave Game";
            btn.innerHTML = "Leave Game";
            }else{
            btn.value = "Join Game";
            btn.innerHTML= "Join Game";
            }          
            }
        </script>
    </head>
    <body style="display:grid; grid-template-rows: auto 1fr auto; min-height:100vh;">
        <div th:insert="Fragments :: header">...</div>
        <div id="body-div">
            <h1 style="text-align:center;"><span th:text="${name}"></span></h1>
            <h4>Description: <span th:text="${details}"></span></h4>
            <h4>Available Platforms:<span th:if="${isPC}" >PC </span> <span th:if="${isConsole}" >Console </span> <span th:if="${isMobile}" >Mobile</span></h4>
            <h4>Genre: <span th:text="${genre}"></span></h4>
            <div th:if="${hasModRole}">
                <a th:href="@{'/edit_game/id=' + ${id}}">Edit game</a>
            </div>
            <div style="margin-top:2.5%;margin-bottom:2.5%; display: inline-block; width:20%; border:2px solid green; ">
                <h4> Player List</h4>
                <button  id="joinGame" onclick="change()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value='Join Game'>
                    Join Game
                </button>
                <ul class="demo-list-item mdl-list" >
                    <li class="mdl-list__item">

                        <span  th:each="user: ${userId}" class="mdl-list__item-primary-content">
                            <span th:each="userName: ${userList}" th:if="${#lists.contains(userName.id, user.user_id)}" >
                                <a th:text="${userName.name}" th:href="@{'/user/' + ${user.user_id}}" class="mdl-list__item-primary-content">
                                    Player Names
                                </a>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div th:insert="Fragments :: footer">...</div>
    </body>
</html>
