<!DOCTYPE html>
<!--
The site's home page
Last updated 10/9/2022
Author(s): Jessica Frank
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>GAFF</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <body style="display:grid; grid-template-rows: auto 1fr auto; min-height:100vh;">
        <div th:insert="Fragments :: header">...</div>
        <div id="body-div">
            <h1 style="text-align:center;">GAFF</h1>
            <h4 style="text-align:center;">A Gaming App for Finding Friends</h4>
            <div th:if="${hasPlayerRole}">
                Player Section <br/>
                (to be added)
            </div>
            <div th:if="${hasModRole}">
                Moderator Section <br/>
                <ul>
                    <li>
                        <a href="/add_game/search">Add new game</a>
                    </li>
                    <li>
                        Edit game (to be added)
                    </li>
                </ul>
            </div>
            <div th:if="${hasAdminRole}">
                Admin Section 
                <ul>
                    <li>
                        <a href="/change_role">Edit user roles</a> 
                    </li>
                    <li>
                        <a href="/view_logs">View system logs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div th:insert="Fragments :: footer">...</div>
    </body>
</html>
