<!DOCTYPE html>
<!--
Profile about users
Last updated 10/30/2022
Author(s): Alec Droegemeier
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>GAFF</title> 
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <body style="display:grid; grid-template-rows: auto 1fr auto; min-height:100vh;">
        <div th:insert="Fragments :: header">...</div>
        <div id="body-div">
            <h1 style="position:relative; left:260px;" <span th:text="${name}"></span>>Name</h1>
            <div style="position:relative; margin:2.5%; display: flex; flex-direction: column; width:30%; border:2px solid green;">
            <h4 style="text-align:center;" <span th:text="${bio}"></span>>Bio: About You</h4>
            <h4 style="text-align:center;">
              Steam: <span th:text="${steam}"> </span>       
            </h4>
            <h4 style="text-align:center;">
               Discord: <span th:text="${discord}"></span>
            </h4>
            </div>
            <div>       
                <h2 style="position:relative; left:20px;" class="mdl-card__title-text">Joined Games</h2>
            </div>
             <div class="demo-card-square mdl-card mdl-shadow--2dp" th:each="game: ${gameList}" style="display:inline-block; margin: auto;">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 th:text="${game.name}" class="mdl-card__title-text">Rocket League</h2>
                </div>
                <div th:text="${game.description}" class="mdl-card__supporting-text">
                    Description of Rocket League
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a th:href="@{'/game/' + ${game.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        View Game Details
                    </a>
                </div>
            </div>
        </div>
       
        <div th:insert="Fragments :: footer">...</div>
    </body>
</html>


<style>
    .demo-card-square {
        margin: 10px;
        padding: 10px;
    }
</style>
