<!DOCTYPE html>
<!--
The site's home page
Last updated 10/17/2022
Author(s): Alex Wesley
-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>GAFF</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css" />
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
            <style>
            td {text-align: left !important} 
            th {text-align: left !important}
            </style>
    </head>
    <body style="display:grid; grid-template-rows: auto 1fr auto; min-height:100vh;">
        <div th:insert="Fragments :: header">...</div>
        <div id="body-div">
            <h2 style="text-align:center; margin-bottom: 100px">Recent Activity</h2>
            <div >
            <table class="mdl-data-table mdl-js-data-table" style="margin-left: auto; margin-right: auto;">
                <thead>
                    <tr >
                        <th class="mdl-data-table__cell--non-numeric">Activity</th>
                        <th>User</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="action : ${actionList}">
                        <td class="mdl-data-table__cell--non-numeric" th:text="${action.activity}">Activity that was completed</td>
                        <td th:text="${action.userName}">Users role</td>
                        <td th:text="${action.day}">Day of action</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div th:insert="Fragments :: footer">...</div>
    </body>
</html>